
 p {
  text-align: center;
}

a:link {
    color: #8D3D5A;
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    color: #8D3D5A;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #D99FB4;
    text-decoration: none;
    font-size: 20px;
}

a:active {
    color: #8D3D5A;
    text-decoration: none;
    font-size: 20px;
}

 body {
   color: #D95E8B;
   font-family: 'Open Sans', sans-serif;
  
   text-align: center; 
}


img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
