
 p {
  text-align: center;
}

a:link {
    color: #80B2FF;
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    color: #80B2FF;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #6A87B2;
    text-decoration: none;
    font-size: 20px;
}

a:active {
    color: #80B2FF;
    text-decoration: none;
    font-size: 20px;
}

 body {
   color: #727272
   font-family: "Consolas";
  
   text-align: center; 
}



